<section class="jg-section" style="border-top: none; padding-top: var(--space-4);">
  <span class="jg-eyebrow">{% if page.title == "Home" %}Featured{% else %}Bibliography{% endif %}</span>
  <h1 class="jg-section-title">Publications</h1>
  <div>
    {% if page.title == "Home" %}
      {% for item in site.data.publications.featured %}
        <div class="jg-list-row">
          <a href="{{ item.url }}" class="jg-link">{{ item.name }}</a>
        </div>
      {% endfor %}
    {% else %}
      {% for item in site.data.publications.index %}
        <div class="jg-list-row">
          <a href="{{ item.url }}" class="jg-link">{{ item.name }}</a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</section>
