<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="jg-container">
      {{ content }}
    </main>
    {% include footer.html %}

    <div class="jg-lightbox" data-lightbox-root>
      <button type="button" class="jg-lightbox__close" data-lightbox-close aria-label="Close">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
      <img src="" alt="">
      <p class="jg-lightbox__caption" data-lightbox-caption></p>
    </div>
  </body>
</html>
